.hidden {
	display: none;
}

.App {
	text-align: center;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.row {
	margin-top: 30px;
}

.col {
	position: relative;
}

.card {
	border-radius: 10px;
	padding: 10px;
	display: table;
	line-height: 180%;
	letter-spacing: 120%;
	right: 0;
	top: 0;
}

.footer {
	margin-top: 20px;
	color: #626976;
}

.loading {
	position: relative;
	top: 30vh;
}

.navbar {
	/* backdrop-filter: blur(5px); */
	opacity: 80%;
	margin: 1rem;
	border-radius: 10px;
}

.navbar-brand {
	font-weight: bold;
	margin-left: 1.5rem;
}

.navbar-buttons {
	margin-right: 30px;
}

.App-body {
	margin-top: 15vh;
	margin-bottom: 5vh;
	/* top: 100px; */
	/* height: 75vh; */
}

.start-menu {
	height: 88vh;
}

.start-menu-card {
	margin: 0;
	position: absolute;
	top: 40vh;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	height: 45%;

	/* border: 3px solid green; */
	padding: 10px;
}

.start-menu-card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-group {
	margin: 2vh;
}

.modal-content {
	width: 80vw;
}

.layout .row {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.layout-card {
	text-align: left;
	height: 100%;
}

.configurator-confirm {
	margin: 1rem;
	display: flex;
	position: relative;
	justify-content: space-around;
}
.switch button {
	display: none;
}

.row-selector {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	background-color: #626976;
}
